body
{
    background-image: url('slike/pozadinaZaInfo.jpg');
   background-repeat: no-repeat;
   background-size: cover;
   height: max-content;
    background-position: center;

}
.brojevi{
    font-size: 16px;
    margin-left: 10px;
}
.margineDiskusije
{
    box-shadow: 5px 5px 10px black;
    border: 1px solid black;
    border-radius: 20px;
    height: 47vh;
    padding:20px;
    background-color:#003049eb;
    width:70%;
    margin-left: 10%;
    margin-top: 2%;
}
.ime
{
    display: flex;
    font-weight: 600;
    font-size: 20px;
    margin-top:3%;
    text-align: left;
    color:white;
    
}
.blog
{
    max-height: fit-content;
    display: flex;
    flex-wrap: wrap;
    justify-content:flex-start;
    align-items: center;
    border-radius: 20px;
    border:1px solid black;
    background-color: white;
    
}
.Lorem
{
    font-size: 20px;
    padding:20px 20px 20px 20px;
}

.LajkIkomentar
{
    border: 1px solid black;
    width:98%;
    background-color: white;
    margin-top: 1%;
    border-radius: 20px;
   display: flex;
   justify-content: flex-start;
   align-items: center;
   padding:0px 10px;
}
.LajkIkom
{
    margin-top: 10%;
    margin-left: 20px;
    width:30px;
    height:30px;
}
.slikaLajka
{
    margin-top: 10%;
    height:30px;
    width:30px;
}
.slikaKomentara
{
    margin-top: 10%;
    margin-left: 20px;
    height:30px;
    width:30px;
}
.dodaj
{
    position: -webkit-sticky;
  position: sticky;
  top: 0;
  padding: 10px;
  font-size: 20px;
  margin-left: 90%;
}
.korisnickoime
{
    display: flex;
    justify-content: flex-start;
    align-items: center;

}
.datum
{
    font-size: 20px;
    color:white;
    margin-left: 10px;
    margin-top: 30px;
}
.naslov
{
    font-size: 24px;
    color:white;
}
.NALOV
{
    margin-left: 20%;
}
.lajk
{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.komentar
{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
@media screen and (max-width:769px ) and (min-width:426px)  {
    .Lorem{
        font-size: 14px;
    }
    .margineDiskusije
{
    height:60vh;
}
.LajkIkomentar
{
    height:30px;

}
.slikaKomentara
{
    height: 25px;
    width:25px;
}
.slikaLajka
{
    margin-top: 14% ;
    height:25px;
    width:25px;
}
}

@media screen and (max-width:321px) {
    .LajkIkom
    {
       
        height:20px;
        width: 20px;
    }
    .LajkIkomentar
    {
        height:30px;
    }   
  .blog
  {
    margin-top: -4%;
  }

    
}

@media screen and (min-width:768px) and (max-width:1025px) {
    .margineDiskusije
    {
        height:60vh;
    }
    
}

@media screen and (max-width:426px) {
    .LajkIkomentar
    {
        margin-top: 2%;
        width: 95%;
       

    }
    
    .margineDiskusije
    {
        height: 54vh;
    }
    .ime
    {
        margin-top: 0%;
    }
    .Lorem
    {
        font-size: 10px;
    }

    .LajkIkomentar
    {
        width:93%;
        height:30px;
    }   
  .blog
  {
    margin-top: -4%;
  }
  .slikaKomentara
  {
    margin-top: 5px;
    width:20px;
    height:20px;
  }
  .slikaLajka
  {
    width:20px;
    height:20px;
    margin-top: 5px;
  }
}
@media screen and (max-width:426px) {
    .dodaj
    {
        padding: 0%;
        width: 30px;
        height: 30px;
    }
}
@media screen and (max-width:426px) {
    .naslov
    {
        margin-left: -30%;
    }
    
}
@media screen and (max-width:492px) {
    .ime
    {
        font-size: 18px;
    }
    .datum
{
    font-size: 18px;
}
.naslov
{
    font-size: 20px;
}
        
}
@media screen and (max-width:376px) {
    .ime
    {
        font-size: 14px;
    }
    .datum
{
    font-size: 12px;
}
.naslov
{
    font-size: 14px;
}
    
}